/* general comments to CSS file:
some margins and paddings are not exactly equal as in the starting material,
the font and its size is also not adequate as in the starting material,
I was more focused on the general layout and to make it responsive.

Please let me know how to optize the number of css code by using
common rules for part of the website, and review it from the top perspective,
what are the major parts that need to be corrected?

I could not spend more time on that project as I am participating also
on the js/react course. But is that possible to receive from codeacademy code for
that project to make an comparision how this should be done in line with best coding
practice? It will be very beneficial.
*/

* {
  box-sizing: border-box;
}

/* main text styling */
html, body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: black;
}

/* main text styling */
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

p {
 font-size: 1.2rem;
}

/* header */
header {
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0;
  height: 64px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
}

.colmar {
  font-weight: bold;
}

.logo h1 {
  font-size: 1.2rem;
}

.logo img {
  height: 32px;
  margin-left: 24px;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin-right: 24px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  padding: 0 16px;
  font-size: 1.1rem;
}

nav#mobile {
  display: none;
}


/* main banner section */
#banner {
  background-color: lightgray;
  display: flex;
  margin-top: 64px;
  padding: 32px 24px;
  flex-direction: row;
  justify-content: space-between;
}

.image {
  display: block;
  width: 60%;
}

.image img {
  display: block;
  height: auto;
  max-width: 100%;
}

.banner-text {
  color: black;
  display: block;
  margin: auto 24px;
  width: 40%;
}

.banner-text h1 {
  font-weight: bold;
}

button {
  width: 250px;
  height: 50px;
  background-color: #616161;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 1rem;
  border: none;
}

/* information section */
#information-main {
  background-color: white;
  margin: 32px 24px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

/* left column */
.information-left-column {
  width: 60%;
  margin-right: 24px;
}

.information-left-column img {
  height: auto;
  max-width: 100%;
  display: block;
}

.information-left-column h1 {
  margin-top: 32px;
  margin-bottom: 24px;
  font-weight: 600;
}

.information-left-column p {
  display: block;
  text-align: justify;
  max-width: 100%;
}

/* right column */
.information-right-column {
  display: flex;
  flex-direction: column;
  width: 40%;
  overflow: hidden;
}

.information-row-1, .information-row-2, .information-row-3 {
  display: flex;
  flex-direction: row;
}


.information-row-3 {
  background-color: lightgray;
}

.information-row-1 img, .information-row-2 img, .information-row-3 img {
  display: block;
  height: auto;
  max-width: 100%;
  margin: 16px 16px;
  padding: 0 0;
}

.row-1-text, .row-2-text, .row-3-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 65%;
  margin-left: 30px;
}

.row-1-text h2, .row-2-text h2, .row-3-text h2 {
  padding: 15px 0;
}

.row-1-text p, .row-2-text p, .row-3-text p {
  padding: 15px 0;
}

.row-1-text a, .row-2-text a, .row-3-text a {
  text-decoration: none;
  color: blue;
}

/* learning section */
#learning {
  background-color: lightgray;
  padding-bottom: 32px;
}

.learning-row-1, .learning-row-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 72px;
  margin-right: 72px;
}

.learning-text {
  text-align: center;
  margin: 32px auto;
  padding-top: 32px;
}

.box-1, .box-2, .box-3, .box-4, .box-5, .box-6 {
  display: flex;
  flex-direction: column;
  margin: 16px 16px;
  max-width: auto;
  background-color: white;
  align-items: flex-start;
  width: 30%;
}

.box-1 img, .box-2 img, .box-3 img, .box-4 img, .box-5 img, .box-6 img {
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  display: block;
}

.box-1 h2, .box-2 h2, .box-3 h2, .box-4 h2, .box-5 h2, .box-6 h2 {
  margin: 16px;
}

.box-1 p, .box-2 p, .box-3 p, .box-4 p, .box-5 p, .box-6 p {
  padding: 8px;
  margin-left: 8px;
  margin-right: 8px;
  padding-bottom: 24px;
}

/* video section */
/* left video column */
#video-text {
  display: block;
  width: 100%;
  text-align: center;
  margin: 32px auto;
}

.video {
  display: flex;
  justify-content: space-between;
  margin-left: 24px;
}

.video-left {
  display: flex;
  width: 60%;
  flex-direction: column;
  padding-bottom: 32px;
  margin-right: 24px;
}

.video-left p {
  padding-top: 8px;
}

.video video {
  max-width: 100%;
  display: block;
  height: auto;
  margin-bottom: 24px;
}

/* right video column */
.video-right {
  display: flex;
  width: 40%;
  flex-direction: column;
}

.video-box-1, .video-box-2 {
  display: flex;
}

.video-box-1 {
  background-color: lightgray;
}

.video-box-1 img, .video-box-2 img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 16px 16px;
}

.video-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 16px;
  max-width: 40%;
}

.video-text h1 {
  font-size: 1.5rem;
}

.video-text p {
  font-size: 1.2rem;
}


/* footer section */
#footer {
  display: flex;
  height: 150px;
  justify-content: space-between;
  margin: 0 24px;
  border-top: 1px solid lightgrey;
  padding-top: 12px;
}

.footer-2 a {
  text-decoration: none;
  color: black;
}

/* Mobile media queries */
@media only screen and (max-width: 885px) {
  body {
    overflow-x: hidden;
  }

/* logo */
  .logo h1 {
    display: none;
  }

/* navigation bar */
  header {
    height: 64px;
  }

  nav#full-size {
    display: none;
  }

  nav#mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin-right: 24px;
  }

/* banner section */
  #banner {
    flex-wrap: wrap;
  }

  .image {
    width: auto;
  }

  .banner-text {
    width: 100%;
    margin-left: 16px;
    margin-top: 32px;
  }

  .banner-text h2 {
    margin-top: 24px;
  }

  button {
    width: 100%;
    margin-top: 24px;
  }

/* informaton section */
  .information-left-column {
    display: none;
  }

  .information-right-column {
    width: auto;
  }

  .information-row-1, .information-row-2, .information-row-3 {
    flex-wrap: wrap;
  }

  .information-row-1 img, .information-row-2 img, .information-row-3 img {
    width: 100vw;
    height: 50vh;
  }

  /* learning section */
  .box-1 p, .box-2 p, .box-3 p, .box-4 p, .box-5 p, .box-6 p {
    display: none;
  }

  #learning {
    background-color: white;
  }

  .box-1 img, .box-2 img, .box-3 img, .box-4 img, .box-5 img, .box-6 img {
    display: none;
  }

  .learning-row-1, .learning-row-2 {
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .box-1, .box-2, .box-3, .box-4, .box-5, .box-6 {
    width: 100vw;
    background-color: lightgray;
  }

  .box-1 h2, .box-2 h2, .box-3 h2, .box-4 h2, .box-5 h2, .box-6 h2 {
    padding-top: 16px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;
  }

/* video section */
  .video-right {
    display: none;
  }

  .video-left {
    display: block;
    width: 100%;
  }

  .video-left h1, .video-left p {
    display: none;
  }

/* footer section */
  .footer-2 {
    display: none;
  }

} /* end of media */
